*{
    border:1px solid gray;
    box-sizing:border-box;
}

.form-container, .task-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin:1em;
    padding:0.5em;
}



.display-container, .submit-container{
    margin:1em;
}



input[type="text"]{
    border:none;
    padding:0;
    outline:none;
    font-size:1.5em;
}

input[type="submit"]{
    border:none;
    padding:0;
    background-color:transparent;
    
}


